.buttons{
   color: #fff;
   display: inline-block;
   background:linear-gradient(55deg,#FF3F3A  0%, #F75E05 100%);
   border-radius: 4px;
   font-weight: 700;
   letter-spacing: 0.5px;
   line-height: 1.25;
   padding: 16px  40px;
}
.buttons:hover{
   background:linear-gradient(55deg,#e53a34  0%, #cd4d03 100%);
   transition: 3s  all   ease;
}
.button__border{
   border: 1px solid #FF3F3A;
   background: transparent;
   color: #FF3F3A;
   padding: 15px  40px;
   transition: all   1s ease  0s;
}
.button__border:hover{
   color: #fff;
   background-color: #FF3F3A;
}